<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
       
        <a class="navbar-brand" href="{% url 'home' %}">BlogPost</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="{% url 'home' %}">Home </span></a>
            {% if request.user.is_authenticated %}
            {%else%}
            <a class="nav-item nav-link" href="{% url 'login'%}">LogIn</a>
            <a class="nav-item nav-link" href="{% url 'register'%}">Sign Up</a> 

            {% endif %}
                       
        </div>
        
        </div>
        {% if request.user.is_authenticated %}
        <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>
                    <a href="javascript:;" class="avatar  rounded-circle">
                    <img class="avatar  rounded-circle" alt="user profile" src="/static/users-profiles/default-avatar.png" style="width:50px"> </a>  
                    <b class="caret">@{{request.user}}</span></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user-profile' %}"><i class="icon-cog"></i> Preferences</a></li>
                        <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
          </div>
          {% endif %}
    
  </nav>